{% set paperData = paper or site.paperDefaults %}
{% set pageTitle = title or site.title %}
{% set pageDescription = description or site.description %}
{% set canonical = (page.url or "/") | absoluteUrl(site.url) %}
{% set cardPath = paperData.card or site.cardImage %}
{% set cardImage = cardPath | absoluteUrl(site.url) %}
<!DOCTYPE html>
<html lang="{{ site.language }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/main.css">
  {% if (paperData.favicon == true) or (paperData.favicon != false and site.favicon == true) %}
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" type="image/png">
  {% endif %}
  {% if paperData.katex %}
    {% include "partials/katex.njk" %}
  {% endif %}
  <title>{{ pageTitle }}</title>
  {% if paperData.authors and paperData.authors.length %}
    <meta name="author" content="{% for author in paperData.authors %}{{ author.name }}{% if not loop.last %}, {% endif %}{% endfor %}">
  {% endif %}
  {% if pageDescription %}
    <meta name="description" content="{{ pageDescription }}">
    <meta property="og:description" content="{{ pageDescription }}">
  {% endif %}
  <meta property="og:title" content="{{ pageTitle }}">
  <link rel="canonical" href="{{ canonical }}">
  <meta property="og:url" content="{{ canonical }}">
  <meta property="og:image" content="{{ cardImage }}">
  <meta property="og:image:type" content="image/png">
  <meta property="og:type" content="article">
  {% if paperData.largeCard or site.largeCard %}
    <meta name="twitter:card" content="summary_large_image">
  {% else %}
    <meta name="twitter:card" content="summary">
  {% endif %}
  <meta property="twitter:image" content="{{ cardImage }}">
  <meta property="twitter:title" content="{{ pageTitle }}">
</head>
<body>
  {{ content | safe }}
</body>
</html>
